.icon {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  border-radius: 48px;
  background-color: var(--main-bg-color);
}

.icon_close {
  background-image: url('../../../../../../images//icons/Arrow/Down.svg');
}
.icon_open {
  background-image: url('../../../../../../images//icons/Arrow/Up.svg');
}

.content {
  padding: 16px 32px;
  display: flex;
  align-items: center;
  max-width: 600px;
  border: 2px solid var(--accent-color);
  border-radius: 20px;
  font-size: 1rem;
}

.wraper:not(:last-child) {
  margin-bottom: 20px;
}

.title {
  margin: 0 auto;
  color: var(--dark-color);
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (min-width: 620px) {
  .content {
    padding: 5px;
    width: 300px;
  }
}
@media screen and (min-width: 920px) {
  .content {
    width: 434px;
  }
}
@media screen and (min-width: 1320px) {
  .content {
    width: 600px;
  }
}