.section {
  display: flex;
  flex-direction: column;
}

.section_short {
  flex-direction: column;
}

@media screen and (min-width: 1320px) {
  .section {
    max-width: 1320px;
    flex-direction: row;
  }
  .section_short {
    flex-direction: column;
  }
}