.article {
  width: 600px;
  
  box-sizing: border-box;
  padding: 16px 32px;
  background-repeat: no-repeat;
  background-size: cover;
}

.article:not(:last-child) {
  margin-bottom: 8px;
}

.title {
  width: 100%;
  margin-bottom: 10px;
  color: var(--main-bg-color);
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 500;
}

.date {
  margin-bottom: 2px;
  color: var(--main-bg-color);
  font-weight: 500;
  font-size: .875rem;
  line-height: 1rem;
}

@media screen and (min-width: 680px) {
  .bottom {
    grid-template-columns: repeat(2, 424px);
  }
}


@media screen and (min-width: 920px) {
  .bottom {
    grid-template-columns: repeat(2, 424px);
  }
  .article {
    max-width: 361px;
    padding: 16px 32px;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1320px) {
}